<nav class="navbar user-info-navbar" role="navigation">
	<!-- User Info, Notifications and Menu Bar -->

	<!-- Left links for user info navbar -->
	<!-- <ul class="user-info-menu left-links list-inline list-unstyled">

		<li class="hidden-sm hidden-xs"><a href="#" data-toggle="sidebar">
				<i class="fa-bars"></i>
		</a></li>
	</ul> -->
	

	<ul class="user-info-menu right-links list-inline list-unstyled">

		{% if user is defined and not (user is null) %}
			
			<li class="dropdown user-profile" style="min-height: 76px;">
    			<a href="#" class="dropdown-toggle" data-toggle="dropdown">
    				<img src="/assets/images/user-4.png" alt="user-image" class="img-circle img-inline userpic-32" width="28">
    				<span>
    					    {{ user.name }} {{ user.surname1 }} {{ user.surname2 }}
    					<i class="fa-angle-down"></i>
    				</span>
    			</a>
    
    			<ul class="dropdown-menu user-profile-menu list-unstyled">
    				<li class="last">
    					<a id="logout-button">
    						<i class="fa-lock"></i>
    						Logout
    					</a>
    				</li>
    			</ul>
    		</li>
		
		{% else %}
		
    		{% if idPlatform is defined and not (idPlatform == -1) %}
    			<li class="dropdown user-profile" style="min-height: 76px;">
        			<a href="#" class="dropdown-toggle" data-toggle="dropdown">
        				<span>
        					    Login
        					<i class="fa-angle-down"></i>
        				</span>
        			</a>
        
        			<ul class="dropdown-menu user-profile-menu list-unstyled">
        					<div class="alert alert-danger" id="login-error">
                                <strong>Error!</strong> Usuario y/o contraseña incorrectos
                              </div>
                                    			
        					<form id="login-form">
            					<li class="last">
            						<div class="form-group">
                                        <input type="text" placeholder="Mail" id="mail" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <input type="password" placeholder="Password" id="pass" class="form-control">
                                    </div>
                                 </li>
                                 <li class="last">
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-default" style="width:100%; height:100%;">Login</button>
                                    </div>
                                 </li>
        					</form>
        				
        			</ul>
        		</li>
    		{% endif %}
		{% endif %}

	</ul>

</nav>
