
<div class="sidebar-menu toggle-others fixed">

	<div class="sidebar-menu-inner">

		<header class="logo-env">

			<!-- This will toggle the mobile menu and will be visible only on mobile devices -->
			<div class="mobile-menu-toggle visible-xs">
				<a href="#" data-toggle="user-info-menu">
				</a> <a href="#" data-toggle="mobile-menu"> <i class="fa-bars"></i>
				</a>
			</div>

		</header>

		<ul id="main-menu" class="main-menu">
			{% include '@CQMViewsModule/default/menu-item.html.twig' %}
		</ul>

	</div>

</div>

		