<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="description" content="Xenon Boostrap Admin Panel" />
<meta name="author" content="" />

<title>CQM Manager</title>

<link rel="stylesheet"
	href="http://fonts.googleapis.com/css?family=Arimo:400,700,400italic">
<link rel="stylesheet" href="/bundles/cqmviewsmodule/assets/backend/css/fonts/linecons/css/linecons.css">
<link rel="stylesheet"
	href="/bundles/cqmviewsmodule/assets/backend/css/fonts/fontawesome/css/font-awesome.min.css">
<link rel="stylesheet" href="/bundles/cqmviewsmodule/assets/backend/css/bootstrap.css">
<link rel="stylesheet" href="/bundles/cqmviewsmodule/assets/backend/css/xenon-core.css">
<link rel="stylesheet" href="/bundles/cqmviewsmodule/assets/backend/css/xenon-forms.css">
<link rel="stylesheet" href="/bundles/cqmviewsmodule/assets/backend/css/xenon-components.css">
<link rel="stylesheet" href="/bundles/cqmviewsmodule/assets/backend/css/xenon-skins.css">
<link rel="stylesheet" href="/bundles/cqmviewsmodule/assets/backend/css/custom.css">
<link rel="stylesheet" href="/bundles/cqmviewsmodule/assets/backend/js/datatables/css/jquery.dataTables.min.css">

<script src="/bundles/cqmviewsmodule/assets/backend/js/jquery-1.11.1.min.js"></script>
<script src="/bundles/cqmviewsmodule/assets/backend/js/datatables/js/jquery.dataTables.min.js"></script>

<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->

{% block scripts %}


{% endblock %}

</head>
<body class="page-body">


	<div class="page-container">
		
		<div class="main-content">

			<h2>{{ title }}</h2>
			<br>
			{% block content %}
            {% endblock %}

		</div>


		

	</div>

	
	<!-- Bottom Scripts -->
	<script src="/bundles/cqmviewsmodule/assets/backend/js/bootstrap.min.js"></script>
	<script src="/bundles/cqmviewsmodule/assets/backend/js/TweenMax.min.js"></script>
	<script src="/bundles/cqmviewsmodule/assets/backend/js/resizeable.js"></script>
	<script src="/bundles/cqmviewsmodule/assets/backend/js/joinable.js"></script>
	<script src="/bundles/cqmviewsmodule/assets/backend/js/xenon-api.js"></script>
	<script src="/bundles/cqmviewsmodule/assets/backend/js/xenon-toggles.js"></script>


	<!-- JavaScripts initializations and stuff -->
	<script src="/bundles/cqmviewsmodule/assets/backend/js/xenon-custom.js"></script>

</body>
</html>